<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>TE-v3.1.2 (Jun  4 2018)</string>
	<string>M8.3-5989-2</string>
	<string>M10.3.8-7029.8.2-2</string>
	<string>G-r1020-10DF07</string>
</array>
</plist>
